<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body>
    <nav>
      <div class="logo">AVATAR</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/facescan">FaceScan</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    
    <!-- end of navbar -->


    <div id="home" class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">
    
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="../images/face.png" alt="">
          </div>
          <div class="blog-slider__content">
          
            <div class="blog-slider__title">Face Recognition</div>
            <div class="blog-slider__text">Face recognition technology verifies the subject by using an audiovisual element of his face to gain access to an application, system, or service. It is a part of biometric identification in which a person's facial biometric pattern and data is used to authenticate the person's identity. </div>
           
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="../images/sec.jpg" alt="">
          </div>
          <div class="blog-slider__content">
           
            <div class="blog-slider__title">Security</div>
            <div class="blog-slider__text">Face recognition technique operates on biometric data unique to the subject . This feature safeguards against fraudulent attendees in the examination .</div>
           
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="../images/WBT.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            
            <div class="blog-slider__title">Student Benefit</div>
            <div class="blog-slider__text">The adoption of this approach can eliminate the panic caused by the unavailability of the admission card at the exam place, simply to ensure confidence balance in the vital moments before exams. This reduces papr work and creates a convenient attendance ecosystem.</div>
            
          </div>
        </div>
        
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
      
    <!-- end of blog slider -->

    <div id="steps" class="wrapper">
      <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-home"></i>
          <div class="details">
            <span class="title">Step 1</span>
            <span>avatar</span>
          </div>
          <p> Click the register button at the top to get started.                                                </p>
          <div class="bottom">
            <a href="#">Start</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <span class="title">Step 2</span>
            <span>avatar</span>
          </div>
          <p>Fill the all the required details. Upload your recent picture and click the submit button</p>
          <div class="bottom">
            <a href="#">Next</a>           
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-rocket"></i>
          <div class="details">
            <span class="title">Step 3</span>
            <span>avatar</span>
          </div>
          <p>The submitted data gets stored in the data base.</p>
          <div class="bottom">
            <a href="#">Next</a>           
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-globe"></i>
          <div class="details">
            <span class="title">Step 4</span>
            <span>avatar</span>
          </div>
          <p> Select the face scan option and scan your face . If the system recognizes your face it will display your details on the screen </p>
          <div class="bottom">
            <a href="#">Next</a>            
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-paper-plane"></i>
          <div class="details">
            <span class="title">Step 5</span>
            <span>avatar</span>
          </div>
          <p>The avatar will match the database with the realtime face for successful recognition. </p>
          <div class="bottom">
            <a href="#">Next</a>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-map-marker-alt"></i>
          <div class="details">
            <span class="title">Step 6</span>
            <span>avatar</span>
          </div>
          <p>On successful recognition , you get entry in the respective examination hall.</p>
          <div class="bottom">
            <a href="#">End</a>
          </div>
        </section>
      </div>
    </div>

    <!-- end of wrapper -->

     <!-- about  -->

    <div id="about" class="about">

      <div class="background-container">
          <div class="bg-1"></div>
          <div class="bg-2"></div>
  
      </div>
      <div class="about-container">
          
          <div class="image-container">
              <img src="../images/study.png">
              
          </div>

          <div class="text-container">
              <h1>About us</h1>
              <p>The previous systems being used during examinations are inconvenient, less secure and even less precise. Avatar develops an automated system to record the student's faces in order to display the complete registration data when the student's photo matches the picture submitted during registration. Avatar, a face recognition technology, monitors student's attendance during examinations . It not only makes the process more convenient, but it also guarantees accuracy and time efficiency.</p>
              
          </div>
          
      </div>
  </div>
  
  <!-- end of about -->



  

</body>

<!-- footer -->

<footer>
  <div id="contact" class="footer-content">
      <h3>Contact</h3>
      <p>THANK YOU</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>avatar <a href="#">face regonition</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="/register">Register</a></li>
                  <li><a href="#steps">Steps</a></li>
                </ul>
              </div>
  </div>

</footer>





    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>



 





    

</html>
