<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="/img/loginLogo.svg" alt="" height="300px" style="color : black;">
        </div>
        <div class="formContainer" style="padding-bottom: 100px;">
            <form action="/register" method="POST">
                <h1><b>Register Now</b></h1>
                <br><br><br><br>
                <label for="firstName" class="labels">First Name</label>
                <br><br><br>
                <input type="text" name="firstName" class="inputs" required>
                <br><br><br>
                <label for="lastName" class="labels">Last Name</label>
                <br><br><br>
                <input type="text" class="inputs" name="lastName" required>
                <br><br><br>
                <label for="userName" class="labels">user Name</label>
                <br><br><br>
                <input type="text" class="inputs" name="userName" required>
                <br><br><br>
                <label for="password" class="labels">Password</label>
                <br><br><br>
                <input type="password" class="inputs" name="password" required>
                <br><br><br>
                <input type="submit" value="Register" id="login">
                <br><br>
                <a href="/">Already have an Account ? Login </a>
            </form>
        </div>
    </div>


</html>
</body>